/* div{
weight: 100px;
height: 100px;
border: 1px solid #ff00ff;
margin-botton: 5px;
} */
:root{
--cor-menu:aquamarine
--cor-base:brown
--cor-menu-lateral: #dcdcdc;
--cor-menu-lateral-items:#fff;
}
.sacola {
background: url(../img/sacola.png) no-repeat top right;
font-size: 14px;
padding-right: 35px;
text-align: right;
padding-top: 8px;
width: 140px;
position: absolute;
top: 0;
right: 0;
}

.menu-opecoes {
position: absolute;
bottom: 0;
right: 0;
}


.menu-opecoes ul {
font-size: 15px;
}

.menu-opecoes ul li {
display: inline;
margin-left: 20px;
}

.menu-opecoes a {
color: var(--cor-menu);
}

body{
color: var(--cor-base)
font-family: 'roboto', sans-serif;
}

.container{
margin: 0 auto;
width: 90%;
}

.header{
position: relative;
}

.busca,
.menu-departamentos{
background-color: var(--cor-menu-lateral);
font-weight: bold;
text-transform: uppercase;
margin-right: 10px;
width: 230px;
float: left;
}

.busca h2,
.busca form,
.menu-departamentos{
    margin: 10px;
    padding-top: 10px;
    clear: left;
}

.menu-departamentos li{
    background-color: whitesmoke;
    margin-bottom: 1px;
    padding: 5px 10px;
}

.menu-departamentos a {
color: #18fbe3;
text-decoration: #FF5F1F;
}

.busca input{
    vertical-align: middle;
}

.busca input[type=search] {
    width: 170px;
}

.destaque{
    margin-top: 10px;
}