/* div{
weight: 100px;
height: 100px;
border: 1px solid #ff00ff;
margin-botton: 5px;
} */
:root{
--cor-menu:aquamarine
--cor-base:brown
--cor-menu-lateral: #dcdcdc;
--cor-menu-lateral-items:#fff;
}
.sacola {
background: url(../img/sacola.png) no-repeat top right;
font-size: 14px;
padding-right: 35px;
text-align: right;
padding-top: 8px;
width: 140px;
position: absolute;
top: 0;
right: 0;
}

.menu-opecoes {
position: absolute;
bottom: 0;
right: 0;
}


.menu-opecoes ul {
font-size: 15px;
}

.menu-opecoes ul li {
display: inline;
margin-left: 20px;
}

.menu-opecoes a {
color: var(--cor-menu);
}

body{
color: var(--cor-base)
font-family: 'roboto', sans-serif;
}

.container{
margin: 0 auto;
width: 90%;
}

.header{
position: relative;
}

.busca,
.menu-departamentos{
background-color: var(--cor-menu-lateral);
font-weight: bold;
text-transform: uppercase;
margin-right: 10px;
width: 230px;
float: left;
}

.menu-departamentos{
    margin: 10px;
    padding-top: 10px;
    clear: left;
}

.menu-departamentos li{
    background-color: whitesmoke;
    margin-bottom: 1px;
    padding: 5px 10px;
}

.menu-departamentos a {
color: #18fbe3;
text-decoration: none;
}

.busca form,
.menu-departamentos h2 {
    margin: 10px;
}

.busca input{
    vertical-align: middle;
}

.busca input[type=search] {
    width: 170px;
}

.destaque{
    margin-top: 10px;
}

.painel{
    margin: 10px 0;
    padding: 10px;
    width: 445px;
}

.novidades{
    float: left;
}

.mais-vendidos{
    float: right;

}

.painel h2{
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.painel a{
    color: #333;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
}

.painel li{
    display: inline-block;
    vertical-align: top;
    width: 135px;
    margin: 2px;
    padding-bottom: 10px;
}

.novidades{
    background-color: #FF5F1F;
}

.mais-vendidos{
    background-color: #333;
}

footer{
    background-image: url(../img/fundo-rodape.png);
    clear: both;
    padding: 20px 0;
    position: relative;
}

.social{
    position: absolute;
    top: 12px;
    right: 0;
    }

.social a{
height: 32px;
width: 32px;
display: block;
text-indent: -9999px;
}

.social a [href*="facebook.com"] {
background-image: url(../img/facebook.png);
}

.social a [href*="twitter.com"] {
background-image: url(../img/twitter.png);
}

.social a [href*="reddit.com"] {
background-image: url(../img/vecteezy_reddit-logo-png-reddit-icon-transparent-png_18930474.png);
}

.social li {
float: left;
margin-left: 25px;
}
