/* div{
weight: 100px;
height: 100px;
border: 1px solid #ff00ff;
margin-botton: 5px;
} */
:root{
--cor-menu:aquamarine
--cor-base:brown
}
.sacola {
background: url(../img/sacola.png) no-repeat top right;
font-size: 14px;
padding-right: 35px;
text-align: right;
width: 140px;
}

.menu-operaçoes ul {
font-size: 15px;
}

.menu-operaçoes a {
color: var(--cor-menu);
}

body{
color: var(--cor-base)
font-family: 'roboto', sans-serif;
}